.instructions {
    color: #cbb435;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: default;
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  .card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    position: relative;
    z-index: 1;
  }
  
  .cards-row-one,
  .cards-row-two {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .card {
    width: 200px;
    height: 300px;
    background-color: #151414;
    border: 2px solid gold;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid gold;
    border-radius: 8px;
    animation: rotateBorder 5s linear infinite;
    opacity: 1;
  }
  
  .card:hover::before {
    opacity: 0;
  }
  
  .card h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    letter-spacing: 5px;
  }
  
  .card h3::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
  }
  
  .card:hover h3 {
    opacity: 0;
  }
  
  .card:hover p {
    opacity: 1;
  }
  
  .card-text {
    position: absolute;
    top: 5em;
    left: 2em;
    right: 2em;
    bottom: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: justify;
    max-width: calc(100% - 6px);
    margin: auto;
  }
  
  #card-buy {
    top: 3em;
  }

  #card-events {
    top: 4em;
  }

  #card-jail {
    top: 2.5em;
  }

  .card:hover .card-text {
    opacity: 1;
  }
  
  .card:hover {
    opacity: 1;
  }
  
  @keyframes rotateBorder {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(179deg);
    }
  }
  
  